@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: #f9f9f9;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
 
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
 
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
 
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
 
    --radius: 0.5rem;
  }
 
}
button {
  transition: all 0.1s linear;
}

:root {
  background-color: #f9f9f9
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.markdown h1 {
  @apply text-2xl font-bold;
}
.markdown h2 {
  @apply text-xl font-semibold;
}
.markdown h3 {
  @apply text-lg font-medium;
}
.markdown p {
  @apply text-base;
}


.markdown ul {
  @apply list-disc pl-5;
}

.markdown ol {
  @apply list-decimal pl-5;
}

.markdown li {
  @apply mb-2;
}

.markdown a {
  @apply text-blue-500 underline;
}

.markdown img {
  @apply max-w-full h-auto;
}

.markdown blockquote {
  @apply pl-4 border-l-4 border-gray-200 italic;
}

.markdown pre {
  @apply bg-gray-100 p-3;
}

.markdown code {
  @apply font-mono text-sm bg-gray-100 rounded p-1;
}

.markdown table {
  @apply min-w-full divide-y divide-gray-200 table-auto;
}

.markdown th,
.markdown td {
  @apply text-left py-2 px-4;
}

.markdown strong {
  @apply font-bold;
}

.markdown em {
  @apply italic;
}

.markdown hr {
  @apply my-4 border-t border-gray-200;
}
.chat-scrollbar {
  scrollbar-gutter: stable overlay;
}

.chat-scrollbar::-webkit-scrollbar {
  width: 7px;
}

.chat-scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(70, 70, 70);
  border-radius: 10px;
}

.chat-scrollbar::-webkit-scrollbar-thumb {
  background: #444846;
  border-radius: 10px;
}